.input-component {
    padding: 10px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #444;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}

.input-xlg {
    padding: 10px;
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #444;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}